{% extends 'layout.html' %}

{% block title %} {{album.Nombre}} ({{album.Artista.Nombre}} {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-3">
			<img src="{{album.ImagenPortada}}" width="200"/>
		</div>
		<div class="col-md-3">
			<h3>{{album.Nombre}} ({{album.FechaPublicacion|date:"Y"}})</h3>
			<h4>{{album.Artista.Nombre}}</h4>
		</div>
	</div>

	<div class="list-group">
		{% for song in songs %}
			<a class="list-group-item" onclick="loadPlayer('{{song.EnlaceYouTube}}');"><i class="material-icons">play_circle_outline</i> {{song.Nombre}}</a>
			<a href='/playlist/addsong/{{song.id}}'>Add to Playlist!</a>
		{% endfor %}
	</div>
{% endblock %}