{% extends 'layout.html' %}

{% block title %} Generos {% endblock %}

{% block style %}
	.col-md-4 {
		cursor:pointer;
	}
{% endblock %}

{% block content %}

	{% if genero == None %}
		<div class="row">
		{% for genero in data %}
			<div class="col-md-4" onclick="location.href = '/artistas/{{genero}}';">
				<div><h3>{{genero}}</h3></div>
			</div>
		{% endfor %}
		</div>
	{% endif %}

	{% if genero != None %}
		<h1>Genero: {{genero}}</h1>
		<div class="row">
			{% for artist in data %}
			<div class="col-md-4" onclick="location.href = '/artist/{{artist.id}}';">
				<div><h3>Artist: {{artist.Nombre}}</h3></div>
			</div>
		{% endfor %}
		</div>
	{% endif %}

{% if data.has_other_pages %}
  <ul class="pagination">
    {% if data.has_previous %}
      <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}