{% extends 'layout.html' %}

{% block title %} index {% endblock %}

{% block content %}
	<p>We currently have {{numArtists}} artists, {{numAlbums}} albums and {{numSongs}} songs registered!</p>

	<form id="form" method="post" action="">{% csrf_token %}
    	{{form.as_p}}
		<input type="submit" class="btn btn-primary" value="Search"/>
	</form>
	
	<hr>
	
	<div class="row">
		{% for song in songs %}
			<div class="col-md-4">
				<div><img src="{{song.Album.ImagenPortada}}" width="150"/></div>
				<div><h3>Song: {{song.Nombre}}</h3></div>
				<div><h4>Album: {{song.Album.Nombre}}</h4></div>
			</div>
		{% endfor %}
	</div>
	
	<div class="row">
		{% for artist in artists %}
			<div class="col-md-4">
				<div><h3>Artist: {{artist.Nombre}}</h3></div>
			</div>
		{% endfor %}
	</div>
	
	<div class="row">
		{% for album in albums %}
			<div class="col-md-4">
				<div><img src="{{album.ImagenPortada}}" width="150"/></div>
				<div><h3>Album: {{album.Nombre}}</h3></div>
				<div><h4>Artist: {{album.Artista.Nombre}}</h4></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}