<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>songs2you - {% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' href='{{STATIC_URL}}css/sticky-footer.css'>
	<link rel='stylesheet' href='{{STATIC_URL}}css/navbar-fixed-top.css'>
	<link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.min.css'>
	<link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap-theme.min.css'>
	<script src=''{{STATIC_URL}}js/bootstrap.min.js'></script>
	<script src=''{{STATIC_URL}}js/npm.js'></script>
	
	<style>
		{% block style %}{% endblock %}
	</style>
</head>
<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">songs2you</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href='/'>Home</a></li>
			<li><a href='/songs'>Find songs</a></li>
			<li><a href='/artists'>Find artists</a></li>
			<li><a href='/albums'>Find albums</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	{% if user == None %}
            	<li><a href="/login">Login</a></li>
            	<li><a href="/user/new">Register</a></li>
            {% else %}
            	<li><a href="/userindex">Welcome {{user.username}}</a></li>
            	<li><a href="/playlist">Your playlists</a></li>
            	<li><a href="/playlist/new">Create a new playlist</a></li>
            	<li><a href="/users">Users</a></li>
            	<li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
    <!-- Begin page content -->
    <div class="container">
    	{% if numArtists %}
    		<p>We currently have {{numArtists}} artists, {{numAlbums}} albums and {{numSongs}} songs registered!</p>
    	{% endif %}
    	
    	{% if form %}
    	<form id="form" method="post" action="">{% csrf_token %}
	    	{{form.as_p}}
			<input type="submit" class="btn btn-primary" value="Search"/>
		</form>

		<hr>
		{% endif %}
		
		<div id="player">
		</div>
		
    	{% block content %}{% endblock %}
    </div>
    
    <!-- Site footer -->
	<footer class="footer">
      <div class="container">
      	  <p class="text-muted">See our source code on GitHub!</p>
      	  <a href="https://github.com/songs2you/songs2you">https://github.com/songs2you/songs2you</a>
		  <p class="text-muted">&copy;2016 songs2you</p>        
      </div>
    </footer>
    
    <script>
		function loadPlayer(videoId) {
			var player = document.getElementById("player");
			
			player.innerHTML = '<iframe id="player" type="text/html" width="100%" height="80" src="http://www.youtube.com/embed/'+videoId+'?autoplay=1" frameborder="0"></iframe><hr>';
		}
	</script>
</body>
</html>